body {
  font-family: $font-family-body;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  background: white;
  font-size: 15px;
}

* {
  box-sizing: border-box;
}

[data-hide-on-load] {
  display: none;
}
