$font-family-body : "Lato", "Avenir", sans-serif;
$font-family-header : $font-family-body;
$font-family-logo : "Cookie", sans-serif;
$font-size-base : 1rem;

body {
  font-family: $font-family-body;
  line-height: 1.4;
}
