// Main scheme
$color-primary : blue;
$color-secondary : yellow;
$color-bg : white;

// Errors and alerts
$color-error : red;
$color-success : green;
$color-warning : yellow;

// Buttons
$color-bg-button : darken($color-bg, 10);

// Flash/alerts
$color-bg-flash : darken($color-bg, 10);
