.moodboard-image {
  margin-bottom: $font-size-base;
  background: white;
  border: 1px solid #ccc;
  border-radius: $radius-base;
  img {
    width: 100%;
    border-radius: $radius-base;
  }
  .overlay {
    display: none;
    z-index: $z-index-overlay;
  }
  &:hover {
    .overlay {
      display: block;
    }
  }
}
